:root {
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-black: #121212;
    --color-night: #001632;

    --color-red: #f44336;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #dadce0;

    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.login-page {
    color: var(--color-black);
    background: #1e4363 url(../../assets/login-background.jpeg)  no-repeat center center fixed;
    background-size: cover;
    background-color: #ffffffbf;


    // Components
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        min-height: 100vh;
        // width: 100%;
        padding: 0 2rem;
        margin: 0 auto;
    }


    .text {
        font-family: inherit;
        line-height: inherit;
        text-transform: unset;
        text-rendering: optimizeLegibility;

        &-large {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--color-black);
        }

        &-normal {
            font-size: 1rem;
            font-weight: 400;
            color: var(--color-black);
        }

        &-links {
            font-size: 1rem;
            font-weight: 400;
            color: var(--color-blue);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Main
    .main {
        .wrapper {
            max-width: 22rem;
            width: 100%;
            margin: 2rem auto;
            padding: 0.2rem 2rem;
            border: none;
            outline: none;
            border-radius: 0.5rem;
            color: var(--color-black);
            background: var(--color-white);
            box-shadow: var(--shadow-large);
            background-color: #ffffffbf ;
            position: absolute;
            top: 8%;

            .heading{
                img {
                    display: block;
                    margin: 0 auto;
                    width: 7.5rem;

                }
            }

            .wrapper-login {
                margin: 10px 0;
                padding: 20px;
                padding-top: 10px;
                min-height: 100px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .alert{
                    padding: 15px;
                    margin-bottom: 20px;
                    border: 1px solid transparent;
                    border-radius: 1px;
                    background-color: #ebf6e1;
                    border-color: #b8df92;
                    color: #527f26;
                }

                .button-sign-in-google{
                    border-radius: 5px;
                    color: #fff;
                    background-color: #e73c3c;
                    border-color: #e73c3c;
                    display: block;
                    width: 100%;
                    margin-bottom: 0;
                    font-weight: 600;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    background-image: none;
                    border: 1px solid transparent;
                    white-space: nowrap;
                    padding: 7px 25px;
                    font-size: 15px;
                    line-height: 1.428571429;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -o-user-select: none;
                    user-select: none;
                    
                    &-staff{
                        background-color: #267fec;
                        border-color: #03a9f4;
                    }
                }

                .other-login-option {
                    font-size: 14px;
                    color: #4285F4;
                    padding-bottom: 10px;
                }

                .login-form{
                    .login-form-button {
                        width: 100%;
                    }
                }

            }

        }
    }
}