.dropdown-custom-style {
    top: 50px !important;
}
.header-container{
    margin-bottom: 25px;
    // border: 1px solid red;
    border-radius: 10px;
    background-color: #fff;
    .page-header {
        display: flex;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        height: 55px;
        color: #808089;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        line-height: 55px;
        justify-content: space-between;
 
        &__left {
            display: flex;
            width: 25%;
            padding: 0 16px;
            .page-header__logo {
                display: flex;
                width: 100%;
                align-items: center;
                gap: 10px;
                .logo {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 80%;
                    .logo_img{
                        width: 58px;
                        height: auto;
                        background-color: white;
                        object-fit: contain;
                    }
                    .name {
                        color: #ea2329;
                        font-weight: bold;
                        margin: 0;
                    }   
                }      
            }
        }

        &__middle {
            width: 45%;
            display: flex;
            align-items: center;
            gap: 10px;
            .icon-search {
                position: relative;
                left: 35px;
            }
            .input-search {
                height: 25px;
                outline: none;
                padding: 5px 30px;
                border-radius: 6px;
                border: 1px solid #ddd;
                flex: 1;
            }
        }

        &__right {
            // display: flex;
            width: 35%;
            .navigation {
                // display: block;
                opacity: 1;
                height: auto;
                margin: 0 auto; 
                display: flex;
                justify-content: end;
        
                &__item {
                    opacity: 0.8;
                    display: inline-block;
                    padding: 0 5px;
                    color: #333;
        
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
                @media (max-width: 1000px) {
                    &__item {
                        padding: 0;
                    }
                }
                @media (max-width: 800px) {
                    &__item {
                        padding: 0;
                        .avt {
                            display: none;
                        }
                    }
                }

                .icon-cart {
                    font-size: 20px;
                    top: 5px;
                    position: relative;
                    color: #61dafb;
                }
            }
        }

        &__toggle {
            display: none;
        }

       
    }

    @media (max-width: 600px) {
        .page-header {
            display: flex;

            .page-header__left {
            .page-header__logo {
                .logo {
                    display: none;
                }
            }}

            &__toggle {
                display: block;
                font-size: 2em;
                margin-right: 15px;
            }

            .page-header__right {
                justify-content: center;
                flex-grow: 1;
            }
        }
        .page-header__right {
            .navigation {
                // display: block;
                // opacity: 1;
                // height: auto;
                padding-left: 0;
    
                &__item {
                    opacity: 0.8;
                    display: inline-block;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
    
                    &.mobile {
                        display: none;
                    }
                }
            }
        }
    }
}