.wrapper-layout-staff{
    .layout-staff {
        display: flex;
        flex-direction: column;
        height: 100%;
        .header {
            height: 50px;
            border-bottom: 1px solid #ebebeb;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            background-color: #fff;
            border-bottom: 1px solid #b2afaf;
        }
        
        .container {
            display: flex;
            flex: 1;
            .sidebar{
                border-right: 1px solid #b2afaf;
                position: sticky;
                top: 0;
                height: 100vh;
                overflow-y: auto; 
                background: #fff;
                .item-sidebar {
                    display: flex;
                    flex-direction: column;
                }
                .ant-list-item:hover {
                    background-color: #daeaffbf;
                }
                .ant-list-item-meta-title{
                    margin-top: 5px;
                }
                .title-status{
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
                .text-overflow{
                    // display: -webkit-box;
                    // -webkit-line-clamp: 2; /* Số dòng tối đa */
                    // -webkit-box-orient: vertical;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    font-weight: 400;
                    color: #6d6969e0;
                    font-size: 14px;
                    line-height: 1.5714285714285714;
                }
                .message-pending {
                    font-weight: 600;
                    color: #4e4949;
                }
            }
            .content{
                background-color: #fff;
                flex: 1; /* Expand để lấp đầy không gian còn trống */
                overflow-y: auto; 

                .post-wrapper {
                    .add-new-post:hover{
                        background-color: #ece9e9;
                    }
                }
            }
        }

    }
}
